// Teal #008080 - https://www.color-meanings.com/colors-that-go-with-gold/

.page-container a {
    color: #008080;
    &:hover {
        text-decoration-color: #fed136
    }
}

.page-content {
    font-size: 120%;

    p {
        line-height: 1.5;
    }
    
    blockquote {
        color: #5f5f5f;
        font-style: normal;
        padding: .5rem 1rem;
        font-size: 105%;
        border-left: .40rem solid #eee;

        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    img {
        max-width: 100%;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    }

    hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h1, h2, h3, h4, h5 {
        margin-top: 2rem;
    }
}

.page-title {
    padding-bottom: 0.5em;
}

.team-member img {
    width: 175px;
    height: 175px;
    border: 7px solid rgba(0, 0, 0, 0.1);
}

code.highlighter-rouge { // copied from css in https://int3ractive.com/2019/01/common-linux-macos-commands.html
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

div.highlighter-rouge {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

// for diff of monokai: copied from /sass-code-highlight/github.scss 
code.highlight {
    .gd {
      color: #f92672;
      background-color: #ffdddd;
      .x {
        color: #000000;
        background-color: #ffaaaa;
      }
    }
    .gi {
      color: green;
      background-color: #ddffdd;
      .x {
        color: #000000;
        background-color: #aaffaa;
      }
    }
  }
  
  
// CSS Attribute Selectors: https://www.w3schools.com/css/css_attribute_selectors.asp
iframe[src^="https://www.youtube.com/embed/"], // ^ means "starts with"
embed[src$=".pdf"],
// $ means "ends with"
div.youtube
{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
